<%= form_tag search_path, method: :get, class: "form-inline" do %>
<div class="input-group col-md-12">
    <%= text_field_tag("q", nil, class: "form-control") %>
    <%= submit_tag "Search", class: "btn btn-success" %>
</div>
<% end %>