<h1>Javlibrary Pages</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Item</th>
    </tr>
  </thead>

  <tbody>
    <% @javlibrary_pages.each do |javlibrary_page| %>
    <tr>
      <td><%= link_to javlibrary_page.url, javlibrary_page %></td>
      <td>
        <% if javlibrary_page.javlibrary_item %>
        <%= link_to javlibrary_page.javlibrary_item.normalized_id, javlibrary_page.javlibrary_item %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>