<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @javlibrary_page.url %>
</p>

<p>
  <strong>Raw html:</strong>
  <%= @javlibrary_page.raw_html %>
</p>

<%= link_to "Back", javlibrary_pages_path %>
