<%= render partial: "layouts/pager", locals: { items: @pages, name: nil } %>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.url %></td>
      <td><%= link_to "Cached", page %> | <%= link_to "Original", page.url %></td>
    </tr>
    <% end %>
  </tbody>
</table>