<% cards.reject(&:is_hidden?).in_groups_of(9).each do |group| %>
<div class="movies card-group mb-3">
    <% group.each do |actress| %>
    <% if actress %>
    <div class="card actress">
        <%= link_to(
            image_tag(actress.image_url || fake_image_url(actress), class: "card-image-top img-fluid mx-auto d-block"),
            actress.persisted? ? actress : fanza_actress_path(actress.name)
        ) %>
        <div class="card-body">
            <h6 class="card-title">
                <%= link_to(
                    actress.name,
                    actress.persisted? ? actress : fanza_actress_path(actress.name)
                ) %></h6>
        </div>
    </div>
    <% else %>
    <div class="card"></div>
    <% end %>
    <% end %>
</div>
<% end %>