<% cards.in_groups_of(9).each do |group| %>
<div class="movies card-group mb-3">
    <% group.each do |actress| %>
    <div class="card">
        <% if actress %>
        <%= link_to_if(
            actress.is_a?(FanzaActress),
            image_tag(actress.image_url || fake_image_url(actress), class: "card-image-top img-fluid mx-auto d-block"),
            actress
        ) %>
        <div class="card-body">
            <h6 class="card-title">
                <%= link_to_if(
                    actress.is_a?(FanzaActress),
                    actress.name,
                    actress
                ) %></h6>
        </div>
        <% end %>
    </div>
    <% end %>
</div>
<% end %>