<div class="media mb-3">
    <%= image_tag @actress.image_url, class: "align-self-center mr-3"%>
    <div class="media-body align-self-center">
        <h1>
            <span><%= @actress.name %></span>
        </h1>
    </div>
</div>

<% if @items %>
<%= render partial: "movies/cards", object: @items %>
<% end %>